# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.env

# Large model files
model_training/models/best_model.keras
model_training/models/model.keras

# Common packaging/build
*.egg-info/
dist/
build/
